@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
  background: aliceblue!important;
}

.mat-drawer-content {
  background: aliceblue!important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  color: white;
}

@layer components {
  .section-container {
    @apply m-auto mb-10 w-11/12 md:w-9/12;
  }
}



