<div class="">
  <h2 class="my-0 py-8 text-5xl font-bold text-center ">Chi sono</h2>

  <div class="">
    <div class="">
      <div class="container2">
        <img
          class="mr-5 w-6/12 max-w-[350px] float-left pic2"
          src="../../assets/profilo.jpg"
          alt="Profile picture"
        />
      </div>
        <p class="mb-8 text-3xl font-light">
          Sono un giovane esperto in
          sviluppo Full-Stack con una
          solida base di conoscenze e
          un'appetito insaziabile per
          l'apprendimento.
          Attualmente, sto focalizzando gli
          sforzi per costruire una carriera
          solida e stimolante, con
          particolare enfasi sulla mia
          competenza nel campo dello
          sviluppo.
          Mi impegno a restare aggiornato
          sulle ultime tendenze
          tecnologiche e ad affrontare con
          determinazione nuove sfide
          professionali
        </p>
        <div class="pic">
        <h2 class="mb-0 text-3xl font-bold">Skills:</h2>
        <hr class="mb-10 invisible clear-both 2xl:hidden" />
        <ul
          class="h-fit w-full m-auto 2xl:ml-0 2xl:mt-8 max-w-[1000px] text-lg font-medium leading-6 flex flex-wrap pic"
        >
        <div>
          <li><img src="../../assets/images/skills/html.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/css.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/javascript.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/typescript-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/java.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/php-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/bootstrap-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/tailwind-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/angular-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/react-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/wordpress-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/node-js-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/mongodb-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/mysql-logo-svgrepo-com.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/git.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/spring-boot.svg" width="50px"></li>
        </div>
        <div>
          <li><img src="../../assets/images/skills/microsoft-office-2013-logo-svgrepo-com.svg" width="50px"></li>
        </div>
       </ul>
      </div>
    </div>
    <hr class="mb-10 2xl:mb-32 invisible clear-both" />
  </div>
</div>

